.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background: #ffffff;
  border: 2px solid #ccc;
}

.allnav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 10vh;
  border: 2px solid black;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 18px;

  font-family: Roboto;
  font-style: Bold;
  font-size: 17px;

}
.NavLink{
    text-decoration: ;
}