.cont {
  display: flex;
  align-items: center;
  j
  height: 20vh;
  background: #ffffff;
  border: 2px solid #ccc;
}

.allnav{
 display: flex;
align-items: center;
 height: 10vh;
   border: 2px solid black;
}