.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background: #ffffff;
  border: 2px solid #ccc;
}

.allnav{
display: flex;
justify-content: space-around;
max-width: 10%;
 height: 10vh;
   border: 2px solid black;
}