.cont{
    margin: 0;

   
  border: 2px solid black;
}
.blok1{
    background-image: url('./Banner.jpg');
  width: 100%;
 object-fit: cover;
min-height: 10vh;
    border: 2px solid black;
    background-size: cover;
}